* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

@font-face {
    font-family: contm;
    src: url(assets/contm.ttf);
}

.tab-headers {    
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 10px;
    margin-top: 30px;
    border: 2px;
    border-style: solid;
    border-bottom-style: none;
    border-radius: 20%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    position: absolute;
    transition: padding-bottom 0.5s, margin-top 0.5s, margin-bottom 0.5s;
    top: 2px;
}

li:hover {
    padding-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    
}

li a {
    color: transparent;
}

.in-focus-tab {
    z-index: 2;
    top: -1px;
}

.contm-font {
    font-family: "contm";
}

.home-position {
    left: 20px;
}

.home-color {
    color: #64bddb;
    background-color: #e8f7fc;
}

.about-position {
    left: 107px;
}

.about-color {
    border-color: rgb(238, 61, 61);
    background-color: lightpink;
    color: rgb(238, 61, 61);
}

.resume-position {
    left: 346px;
}

.resume-color {
    border-color: green;
    background-color: lightgreen;
    color: green;
}

.projects-position {
    left: 235px;
}

.projects-color {
    border-color: rgb(255, 153, 0);
    background-color: rgb(245, 243, 110);
    color: rgb(255, 157, 9);
}

main {
    position: relative;
    top: -2px;
    border-style: solid;
    height: 100%;
    z-index: 1;
    margin-top: 80px;
}

aside {
    position: relative;
    top: 16%;
    left: 11%;
    font-family: "contm";
    font-size: 20px;
}

p {
    position: relative;
    font-family: "contm";
    font-size: 20px;
}

a {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

@media (min-width: 576px) {

    h1 {
        position: absolute;
        left: 5%;
        top: 5%;
        font-family: "contm";
        font-size: 50px;
    }

    #dom {
        top: 12%;
        left: 10%;
        width: 200px;
        position: relative;
        border-radius: 5%;
        border-width: 2px;
        border-style: solid;
}
    
    aside {
        font-size: 30px;
    }

    p {
        position: relative;
        top: 15%;
        left: 2%;
        font-size: 35px;

    
    }

    #dom2 {
        position: relative;
        width: 25%;
        left: 58px;
        top: 116px;
        border-radius: 5%;
    }

    #stars {
        position: relative;
        width: 25%;
        left: 12%;
        top: 116px;
        border-radius: 5%;
    }

    #lake {
        position: relative;
        width: 82%;
        left: 58px;
        top: 220px;
        border-radius: 5%;
    }


    #jellyfish_vid {
        position: relative;
        width: 25%;
        left: 380px;
        top: -350px;
        border-radius: 5%;
    }

    #vid_button {
        position: relative;
        width: 25%;
        left: 410px;
        top: -350px;
        border-radius: 5%;
    }

    #about-p {
        position: relative;
        top: 0px;
        left: 20px;
    }

    #current-h2 {
        position: relative;
        font-size: 40px;
        top: 110px;
        left: 30px;
    }

    #toji {
        position: relative;
        width: 40%;
        left: 58px;
        top: 116px;
        border-radius: 5%;
    }

    #tojisword {
        position: relative;
        width: 30%;
        left: 58px;
        top: 116px;
        border-radius: 5%;
    }

    #mod-p {
        position: relative;
        left: 15px;
        top: 130px;
        font-size:30px;
    }

    #pdf {
        position: relative;
        left: 25%;
        top: 20%;
        height: 50%;
    }

    .download-icon {
        display:inline-block;
        position: relative;
        width: 57px;
        height: 57px;
        top: 25%;
        left: -5%;
    }

    #hint-p {
        position: relative;
        font-size: 20px;
        top: 27%;
        left: 15%;
    }
}

@media (min-width: 768px) {
    h1 {
        position: absolute;
        left: 5%;
        top: 5%;
        font-family: "contm";
        font-size: 50px;
    }

    #dom {
        top: 12%;
        left: 10%;
        width: 200px;
        position: relative;
        border-radius: 5%;
        border-width: 2px;
        border-style: solid;
}
    
    aside {
        font-size: 30px;
    }

    p {
        position: relative;
        top: 15%;
        left: 2%;
        font-size: 35px;

    
    }

    #dom2 {
        position: relative;
        width: 29%;
        left: 50px;
        top: 160px;
        border-radius: 5%;
    }

    #stars {
        position: relative;
        width: 29%;
        left: 55px;
        top: 160px;
        border-radius: 5%;
    }

    #lake {
        position: relative;
        width: 82%;
        left: 58px;
        top: 220px;
        border-radius: 5%;
    }


    #jellyfish_vid {
        position: relative;
        width: 25%;
        left: 510px;
        top: -520px;
        border-radius: 5%;
    }

    #vid_button {
        position: relative;
        width: 25%;
        left: 560px;
        top: -510px;
        border-radius: 5%;
    }

    #about-p {
        position: relative;
        top: -120px;
        left: 40px;
    }

    #current-h2 {
        position: relative;
        font-size: 40px;
        top: 110px;
        left: 30px;
    }

    #toji {
        position: relative;
        width: 40%;
        left: 58px;
        top: 116px;
        border-radius: 5%;
    }

    #tojisword {
        position: relative;
        width: 30%;
        left: 58px;
        top: 116px;
        border-radius: 5%;
    }

    #mod-p {
        position: relative;
        left: 15px;
        top: 130px;
        font-size:30px;
    }

    #pdf {
        position: relative;
        left: 20%;
        top: 20%;
        width: 60%;
    }

    .download-icon {
        display:inline-block;
        position: relative;
        width: 100px;
        height: 100px;
        top: 28%;
        left: -15%;
    }

    #hint-p {
        position: relative;
        font-size: 30px;
        top: 30%;
        left: 10%;
    }
}

@media (min-width: 992px) {

}