* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    position: absolute;
    z-index: 3;
    left: 45%;
    top: 20%;
}

.tab-headers h2 {
    display: inline-block;
    padding: 10px;
    margin-top: 30px;
    background-color: rgb(231, 246, 252);
    border: 2px;
    border-color: rgb(130, 217, 255);
    border-style: solid;
    border-bottom-style: none;
    border-radius: 20%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    position: absolute;
    transition: padding-bottom 0.5s, margin-top 0.5s, margin-bottom 0.5s;
}

@keyframes raise {
    0% {

  }

  100% {
    padding-bottom: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

h2:hover {
    padding-bottom: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.in-focus-tab {
    z-index: 2;
}

#home-tab {
    left: 20px;
    bottom: 482px;
}

#about-tab {
    left: 110px;
    bottom: 482px;
    border-color: red;
    background-color: lightpink;
}

#resume-tab {
    left: 242px;
    bottom: 482px;
    border-color: green;
    background-color: lightgreen;
}

#projects-tab {
    left: 350px;
    bottom: 482px;
    border-color: yellow;
    background-color: lemonchiffon;
}



p {
    position: relative;
    top: -2px;
    background-color: rgb(231, 246, 252);
    border-color: rgb(130, 217, 255);
    border-style: solid;
    height: 100vh;
    z-index: 1;
    margin-top: 80px;
}
