* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
}

:root {
    --bruh:( 100 * 10px);
}

h1 {
    position: absolute;
    z-index: 3;
    left: 45%;
    top: 5%;
}

.tab-headers h2 {
    display: inline-block;
    padding: 10px;
    margin-top: 30px;
    background-color: hsl(197, 78%, 95%);
    border: 2px;
    border-color: rgb(130, 217, 255);
    border-style: solid;
    border-bottom-style: none;
    border-radius: 20%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    position: absolute;
    transition: padding-bottom 0.5s, margin-top 0.5s, margin-bottom 0.5s;
    top: 2px;

}

@keyframes raise {
    0% {

  }

  100% {
    padding-bottom: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

h2:hover {
    padding-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    
}

.in-focus-tab {
    z-index: 2;
}

#home-tab {
    left: 20px;
}

#about-tab {
    left: 110px;
    border-color: red;
    background-color: lightpink;
}

#resume-tab {
    left: 242px;
    border-color: green;
    background-color: lightgreen;
}

#projects-tab {
    left: 350px;
    border-color: yellow;
    background-color: lemonchiffon;
}



p {
    
}

main {
    position: relative;
    top: -2px;
    background-color: #e7f6fc;
    border-color: #82d9ff;
    border-style: solid;
    height: 100%;
    z-index: 1;
    margin-top: 80px;
}

#dom {
    height: 40%;
    top: 12%;
    left: 45%;
    position: relative;
    border-radius: 5%;
    border-width: 3px;
    border-style: solid;
    border-color: #82d9ff;
}

picture {
    
}