* {
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

@font-face {
    font-family: contm;
    src: url(contm.ttf);
}

h1 {
    position: absolute;
    z-index: 3;
    left: 10%;
    top: 8%;
    font-family: "contm";
}

.tab-headers {    
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 10px;
    margin-top: 30px;
    border: 2px;
    border-style: solid;
    border-bottom-style: none;
    border-radius: 20%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    position: absolute;
    transition: padding-bottom 0.5s, margin-top 0.5s, margin-bottom 0.5s;
    top: 2px;
}

li:hover {
    padding-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    
}

.in-focus-tab {
    z-index: 2;
    top: -1px;
}

.contm-font {
    font-family: "contm";
}

.home-position {
    left: 20px;
}

.home-color {
    color: #64bddb;
    background-color: #e8f7fc;
}

.about-position {
    left: 107px;
}

.about-color {
    border-color: rgb(238, 61, 61);
    background-color: lightpink;
    color: rgb(238, 61, 61);
}

.resume-position {
    left: 346px;
}

.resume-color {
    border-color: green;
    background-color: lightgreen;
    color: green;
}

.projects-position {
    left: 235px;
}

.projects-color {
    border-color: rgb(255, 153, 0);
    background-color: rgb(245, 243, 110);
    color: rgb(255, 157, 9);
}

main {
    position: relative;
    top: -2px;
    border-style: solid;
    height: 100%;
    z-index: 1;
    margin-top: 80px;
}

aside {
    position: relative;
    top: 16%;
    left: 11%;
    font-family: "contm";
    font-size: 20px;
}

p {
    position: relative;
    font-family: "contm";
    font-size: 20px;
}

a {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

@media (min-width: 576px) {

    #dom {
        top: 12%;
        left: 10%;
        width: 440px;
        position: relative;
        border-radius: 5%;
        border-width: 2px;
        border-style: solid;
}
    
    aside {
        font-size: 30px;
    }

    p {
        position: relative;
        top: 20%;
        left: 10%;
        font-size: 35px;

    
}

    #jellyfish_vid {
        left: 200px;
    }


}

@media (min-width: 992px) {

    #dom {
    top: 12%;
    left: 10%;
    width: 490px;
    position: relative;
    border-radius: 5%;
    border-width: 3px;
    border-style: solid;
}

    p {
    position: relative;
    font-size: 40px;
}

    #jellyfish_vid {
        position: relative;
        left: 10%;
        top: 150px;
        border-radius: 5%;
        border-color: blue;
        border-style: solid;
    }

    #vid_button {
        position: relative;
        left: 72%;
        top: 14%;
    }

    button {
        font-size: 30px;
        color: rgb(17, 80, 252);
        background-color: rgb(226, 226, 226);
        border-color: rgb(66, 3, 3);
        border-style: solid;
        border-radius: 5%;
    }
}