* {
    box-sizing: border-box;
    margin: 0;
}

.tab-headers h2 {
    display: inline-block;
    padding: 10px;
    margin-top: 30px;
    background-color: rgb(231, 246, 252);
    border: 2px;
    border-color: rgb(130, 217, 255);
    border-style: solid;
    border-bottom-style: none;
    border-radius: 20%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    z-index: 1;
    position: relative;
}

@keyframes raise {
    0% {
    margin-top: 30px;

  }

  100% {
    padding-bottom: 30px;
    margin-top: 0px;    
  }
}

h2:hover {
    animation-name: raise;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


#home-tab {
    margin-left: 20px;
}

p {
    position: relative;
    top: -2px;
    background-color: rgb(231, 246, 252);
    border-color: rgb(130, 217, 255);
    border-style: solid;
    height: 100vh;
    z-index: 0;
}