* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
}

@font-face {
    font-family: contm;
    src: url(contm.ttf);
}

h1 {
    position: absolute;
    z-index: 3;
    left: 10%;
    top: 8%;
    font-family: "contm";
    color: #64bddb;
}

.tab-headers {    
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 10px;
    margin-top: 30px;
    border: 2px;
    border-style: solid;
    border-bottom-style: none;
    border-radius: 20%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    position: absolute;
    transition: padding-bottom 0.5s, margin-top 0.5s, margin-bottom 0.5s;
    top: 2px;
}

li:hover {
    padding-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    
}

.in-focus-tab {
    z-index: 2;
}

.contm-font {
    font-family: "contm";
}

.home-position {
    left: 20px;
    top: 0px;
}

.home-color {
    color: #64bddb;
    background-color: #e8f7fc;
}

.about-position {
    left: 107px;
}

.about-color {
    border-color: rgb(238, 61, 61);
    background-color: lightpink;
    color: rgb(238, 61, 61);
}

.resume-position {
    left: 235px;
}

.resume-color {
    border-color: green;
    background-color: lightgreen;
    color: green;
}

.projects-position {
    left: 346px;
}

.projects-color {
    border-color: rgb(255, 196, 0);
    background-color: rgb(245, 243, 110);
    color: rgb(255, 198, 9);
}

main {
    position: relative;
    top: -2px;
    border-style: solid;
    height: 100%;
    z-index: 1;
    margin-top: 80px;
}

#dom {
    height: 40%;
    top: 12%;
    left: 10%;
    position: relative;
    border-radius: 5%;
    border-width: 1px;
    border-style: solid;
    border-color: #82d9ff;
}

picture {
    
}

.line {
    background-color: #82d9ff;
    padding: 4px;
    top: 15%;
    left: 10.5%;
    width: 18%;
    position: relative;
}

aside {
    position: relative;
    top: 16%;
    left: 11%;
    font-family: "contm";
    color: #64bddb;
    font-size: 20px;
}

p {
    position: relative;
    top: -30%;
    left: 32%;
    font-family: "contm";
    color: #64bddb;
    font-size: 20px;
}

a {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}